body{
  background-color:rgb(47, 49, 54);
  font-family:Arial;
  font-size:14px;
  margin:0px;
}

#archived, #mail, #starred{
  padding: 8px 5px 6px 8px;
  margin: 0px 10px;
}

#center_content.room iframe{
  height:80vh;
}

.control_button{
  font-size:30px;
  color:rgba(255,255,255,0.7);
  cursor:pointer;
  border-radius: 3px;
  background-color:rgba(114,118,125,.3);
  display: inline-block;
}

.control_button:hover{
  color:rgba(255,255,255,1);
}

.control_button.chosen{
  color:rgba(255,255,255,1);
}

#create{
  margin-left:0px;
}

.create_button{
  border: 2px solid;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 5px;
  display:inline-block;
  opacity:0.7;
  cursor: pointer;
}

.create_button .icon{
  margin:0px;
}

.create_button:hover{
  opacity:1;
}

#create_private_room{
  color: rgb(162, 145, 251);
  float: left;
  margin-left: 20px;
}

#create_public_room{
  color: rgb(84, 200, 255);
  float: right;
  margin-right: 20px;
}

#chat{
  background-color: rgb(54, 57, 63);
  height:80vh;
  overflow: scroll;
  min-width: 350px;
}

#chat img{
  max-width:40%;
}

#close_search{
  position: relative;
  float: right;
  margin-top: 6px;
  font-size: 17px;
  margin-right: 3px;
  color: rgba(255,255,255,0.4);
  display:none;
}

#close_search:hover{
  color: rgba(255,255,255,0.8);
}

#div_search{
  float:right;
  width:200px;
  margin-right:20px;
  background-color: rgb(54, 57, 63);
}

#div_search.active{
  width: 245px;
  position:absolute;
  margin-left:17px;
}

#div_search.active #close_search{
  display:inline-block;
}

#div_search.active #top_search{
  width: 215px;
}

#dropdown{
  height: 90vh;
  position: absolute;
  width: 340px;
  margin-left: -350px;
  background-color: rgb(47, 49, 54);
  box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 5px;
}

#dropdown.hidden{
  display: none;
}

.eye{
  background-color:white;
  border-radius:100%;
  height:5px;
  width:5px;
}

#emblem{
  margin: 0px 10px;
  margin-top: 1px;
  font-size: 23px;
  color: rgb(84, 200, 255);
  font-weight: bold;
  padding: 2px 5px;
  font-style: italic;
}

.full_width{
  width:100%;
}

.group_title{
  font-size: 12px;
  color: rgba(255,255,255,0.5);
  padding-top: 15px;
}

iframe{
  width:100%;
  height:100%;
}

#main_table td{
  vertical-align: top;
}

#main_content{
  height:92vh;
  overflow:auto;
}

.main_div{
  width: 1278px;
  margin: auto;
}

#message_control{
  height:45px;
  margin-top:5px;
  display:none;
  width:100%;
  display:inline-flex;
}

#message_control>.input_field{
  margin-left: 1px;
  line-height: 100%
}

.n_new_messages{
  padding:0px 5px;
  color: rgb(84, 200, 255);
  font-weight: bold;
  float:right;
}

#new_settings_table td{
  padding:0px;
}

#new_room{
  text-align: center;
  height: 150px;
  overflow: hidden;
}

#new_room img{
  width:100%;
  margin-top: -60px;
}

#new_room_name{
  margin-top: 10px;
  width: 335px;
}

#new_room_name input {
  text-align: center;
}

#room{
  font-size: 16px;
  color: rgba(255,255,255,0.8);
  margin-left:1px;
  width:100%;
  text-align: center;
  font-weight: bold;
}

.room_name{
  color:rgba(255,255,255,0.9);
}

.slash{
  color:rgba(255,255,255,0.4);
  font-weight:bold;
  padding:0px 5px;
}

.sides{
  width:0.1%;
  padding:0px;
}

.sides.room, .sides.top{
  width: 350px;
}

.sides.room #left_content{
  float:right;
}

.sides.room #dropdown{
  margin-left:0px;
}

table {
  border-collapse: collapse;
}

.tag{
  display:inline-block;
  overflow: hidden;
  border-radius: 3px;
  text-align: center;
  margin: 0px 10px;
  cursor:pointer;
  padding: 10px;
}

.tag_name{
  color: white;
  font-size: 14px;
  padding: 5px;
}

#tags{
  position:absolute;
  z-index:1;
}

#tags.hidden{
  display:none;
}

#top_content{
  padding: 4px 0px 0px 0px;
  border-bottom: 1px solid rgb(32, 34, 37);
}

#top_content div{
  display:inline-block;
}

.top_control{
  color: white;
  opacity: 0.5;
  border-radius: 3px;
  margin: 0px;
  padding: 0px;
  font-size:19px;
  padding: 8px 5px 6px 8px;
  margin: 0px 10px;
}

.top_control:hover{
  background: rgba(114,118,125,.3);
  opacity:1;
}

.top_control.chosen{
  background: rgba(114,118,125,.3);
  opacity:1;
}

#top_search, #new_room_name input{
  height:26px;
  font-size:13px;
  color:white;
  background-color:rgb(54, 57, 63);
  border:none;
  width:100%;
  border-radius:3px;
  padding:2px 0px 5px 5px;
  outline: none;
}

.topic{
  width:200px;
  padding: 10px 5px 10px 0px;
  background-color: rgba(114,118,125,.3);
  opacity: 0.5;
  text-align: left;
  font-size:16px;
  margin:15px;
  border-radius:3px;
}

.topic:hover{
  opacity:1;
}

.topic.chosen{
  opacity:1;
}

.topic_table{
  height:100%;
}

.topic_td{
  vertical-align: middle;
}

.topic_name{
  color:white;
}

.topic_group{
  color:rgba(255,255,255,0.6);
  margin:10px;
}

.tile{
  display:inline-grid;
  margin:10px;
  cursor:pointer;
  width:240px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
  background-color: rgba(255,255,255,0.1);
}

.tile_content{
  width:100%;
  display:inline-block;
  text-align: left;
}

.tile_content .room_name{
  margin:10px;
  font-weight:bold;
}

.tile_content iframe{
  height: 100px;
}

#tile_table{
  width:50%;
  margin:auto;
}

.tile_window{
  overflow:auto;
  width:240px;
  max-height:200px;
  background-color: rgb(54, 57, 63);
}

.tile_window img{
  max-width:50%;
}

#total_online, #total_views{
  font-size:18px;
  padding:10px 0px 0px 8px;
}

#total_online{
  color:green;
}

#total_views{
  color:white;
  padding-bottom:15px;
}

#ifr{
  width:100%;
  height:500px;
  border:none;
}


.input_field{
  width:100%;
  background-color:rgba(114,118,125,.3);
  border:none;
  padding:15px 15px 0px 15px;
  color:white;
  resize:none;
  border-radius:3px;
  font-size:16px;
  max-height:200px;
}

#input_title{
  width:100%;
  display:inline-flex;
}

.tile .user_name{
  color:rgba(255, 255, 255, 0.7);
  margin-right:10px;
  margin-bottom:10px;
  font-size:12px;
  float:right;
}

.tile_window .user_name{
  float:left;
  color:white;
  font-size:14px;
  margin:0px;
}

.user_name{
  color:white;
}

.user_message{
  padding:5px 50px 15px 0px;
  color:rgba(255,255,255,0.7)
}

#user_icon{
  font-size:33px;
}

.user_icon{
  font-size:22px;
}

#upload_media{
  padding: 6.5px 0px;
}

.writing{
  text-align: center;
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  font-weight: bold;
  margin-top:5px;
}
