body{
  background-color:rgb(47, 49, 54);
  font-family:Arial;
  font-size:14px;
  margin:0px;
}

.content_side_td{
  width:20%;
  padding:0px 20px;
  vertical-align: top;
}

.control_button{
  font-size:30px;
  color:rgba(255,255,255,0.7);
  cursor:pointer;
  border-radius: 3px;
  background-color:rgba(114,118,125,.3);
  display: inline-block;
}

.control_button:hover{
  color:rgba(255,255,255,1);
}

.control_button.chosen{
  color:rgba(255,255,255,1);
}

#center_content{
  background-color: rgb(54, 57, 63);
  border-radius: 1%;
  padding:10px;
  height:85vh;
  overflow:scroll;
}

#center_content.chat{
  height:75vh;
}

.chat td{
  vertical-align: top;
}

.chat img{
  max-width:50%;
}

#chat, #video, #tag{
  margin-right:10px;
  padding: 5px 15px;
  font-size: 16px;
}


#create{
  float: right;
  margin-right: 22px;
  padding: 9px 15px;

}

#distinct_messages{
  position: inherit;
  margin-left:73px;
  padding-left:3px;
  height:43px;
  border: 2px solid transparent;
}

#distinct_messages.active{
  border: 2px solid rgb(84, 200, 255);
}

.distinct_messages{
    box-shadow: inset 0 0 1000px rgb(47, 49, 54);
    border:1px solid rgb(47, 49, 54);
    border-radius: 3px;
    height:200px;
    width:100%;
    overflow:scroll;
    padding:5px;
    display:inline-block;
}

.distinct_user_name{
  color:white;
  padding-bottom:10px;
}

.door{
  margin:0px 5px;
  border:2px solid rgba(255, 255, 255, 0.5);
}

.door_handle{
  background-color: white;
  border-radius:100%;
  width:2px;
  height:2px;
  margin-left:3px;
  margin-top:17px;
}

.full_width{
  width:100%;
}

.group_title{
  font-size: 12px;
  color: rgba(255,255,255,0.5);
  padding-top: 15px;
}

.hashtag{
  font-size: 16px;
  padding: 0px 9px 0px 3px;
}

#logo td{
  vertical-align: bottom;
}

.link{
  color:rgba(255,255,255,0.8);
  padding:10px;
  cursor:pointer;
}

.link:hover{
  color:rgba(255,255,255,1);
  background-color: rgb(54, 57, 63);
}

.link.chosen{
  color:rgba(255,255,255,1);
  background-color: rgb(54, 57, 63);
}

.message_tile{
  display:inline-block;
  margin:30px 25px;
  cursor:pointer;
  width:40%;
}

.message_tile:hover .distinct_messages{
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.2);
}

#portal_name{
  color:white;
  font-weight:bold;
  font-size:25px;
  margin-bottom:-6px;
}

#portal_logo{
  border:2px solid white;
  margin-left:2px;
}

#portal_logo, .door{
  height:36px;
  width:20px;
  background-color:rgb(84, 200, 255);
}

.room_overview{
  float:right;
}

.room_overview td{
  text-align: center;
  color: rgba(255,255,255,0.7);
  padding:0px 7px;
}

.room_name{
  color:rgba(255,255,255,0.8);
  cursor:pointer;
  font-size:16px;
}

.room_name:hover{
  color:rgba(255,255,255,1);
}

.room_td{
  padding:15px 0px;
  vertical-align: top;
}

.room_tr:hover{
  background-color:rgb(61, 64, 70);
}

table {
  border-collapse: collapse;
}

.tags{
  display:inline-block;
  color:rgba(84, 200, 255, 0.8);
  padding:0px 5px;
  cursor:pointer;
  font-size:12px;
}

.tags:hover{
  color:rgba(84, 200, 255, 1);
}

#top_content{
  padding: 5px;
  border-bottom: 1px solid rgb(32, 34, 37);
}

#top_search{
  height:16px;
  font-size:14px;
  color:white;
  background-color:rgb(54, 57, 63);
  width:50%;
}

#total_online, #total_views{
  font-size:18px;
  padding:10px 0px 0px 8px;
}

#total_online{
  color:green;
}

#total_views{
  color:white;
  padding-bottom:15px;
}

#ifr{
  width:100%;
  height:500px;
  border:none;
}


.input_field{
  width:100%;
  background-color:rgba(114,118,125,.3);
  border:none;
  padding:15px 15px 0px 15px;
  color:white;
  resize:none;
  border-radius:3px;
  font-size:16px;
  max-height:300px;
}

#bottom_control{
  margin-top:5px;
}

#bottom_control_main{
  width:100%;
}

#bottom_control_main>.input_field{
  margin-left: 41px;
  line-height: 100%
}

#input_title, #bottom_control{
  width:100%;
  display:inline-flex;
}

#room_title{
  height:40px;
}

#room_title>div{
  color:white;
  font-size:16px;
}

#room_title>.input_field{
  padding:10px;
  margin-left:-4px;
}

.user_name{
  color:white;
  padding-top:5px;
}

.user_message{
  padding:5px 50px 15px 0px;
  color:rgba(255,255,255,0.7)
}

.user_icon{
  font-size:36px;
}

#upload_media{
  padding: 6.5px 0px;
  position:absolute;
}
